$white: #fff;
//GRAY

$gray-1: #283238;
$gray-2: #b2bec4;
$gray-3: #7f8fa4;
$gray-4: #354052;
$gray-5: #e6e9ed;
$gray-6: #f3f3f3;
$gray-7: #9fa9ba;
$gray-8: #93a4ad;
$gray-9: #d0d8dc;
$gray-10: #717986;
$gray-11: #e6eaee;
//ORANGE
$orange-1: #f9b235;

//BLUE
$blue-1: #02bebe;
//font-size

$size-4: 0.25rem;
$size-10: 0.625rem;
$size-12: 0.75rem;
$size-13: 0.8125rem;
$size-14: 0.875rem;
$size-15: 0.9375rem;
$size-16: 1rem;
$size-18: 1.125rem;
$size-20: 1.25rem;
$size-22: 1.375rem;
$size-24: 1.5rem;
$size-28: 1.75rem;
$size-30: 1.875rem;
$size-36: 2.25rem;
$size-38: 2.375rem;
$size-40: 2.5rem;
$size-42: 2.625rem;
$size-44: 2.75rem;


//font-weight

$weight-normal: 400;
$weight-600: 600;
$weight-bold: bold;

