.nt-trucker {
  .txt-primary {
   color: $blue-1;
  }
  .badge-bg {
    background-color: $blue-1;
  }
  .btn-hvr {
    &:hover {
      background-color: $white;
      color: $blue-1;
      border: 1px solid $blue-1;
    }
  }
  .sn-icon {
    &:hover {
      color: $blue-1;
    }
  }
}
