.nt-navbar {
  min-height: 90px;
  box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.13);
  background-color: $white;
  a {
    font-size: $size-15;
    font-weight: $weight-600;
    color: $gray-3;
    font-family: 'Muli-Bold', sans-serif;
    cursor: pointer;
  }
}
