@font-face {
  font-family: Muli-Regular;
  src: url("../Muli font/Muli-Regular.ttf");
}
@font-face {
  font-family: Muli-Bold;
  src: url("../Muli font/Muli-Bold.ttf");
}
@font-face {
  font-family: Muli-Semibold;
  src: url("../Muli font/Muli-SemiBold.ttf");
}

body {
  background-color: $white;
  //font-family: 'Muli-Regular', sans-serif;

}
h1 {
  font-family: 'Muli-Regular', sans-serif;
  font-size: $size-22;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  color: $gray-4;
}
h2 {
  font-family: 'Muli-Regular', sans-serif;
  font-size: $size-20;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  color: $gray-4;

  span{
    font-weight: $weight-normal;
  }
}
h3 {
  font-family: 'Muli-Regular', sans-serif;
  font-size: $size-18;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  color: $gray-4;
}
h4 {
  font-family: 'Muli-Regular', sans-serif;
  font-size: $size-16;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  color: $gray-4;
}
h5 {
  font-family: 'Muli-Regular', sans-serif;
  font-size: $size-14;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  color: $gray-4;
}
h6 {
  font-family: 'Muli-Regular', sans-serif;
  font-size: $size-12;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  color: $gray-4;

}