.collapse-btn-nt {
  &:focus {
    outline: none;
  }
}
.btn-navbar {
  border-radius: $size-4;
  font-size: $size-15;
  border: 1.5px solid $gray-9;
  color: $gray-3;
  font-weight: $weight-600;

  &:focus {
    box-shadow: none;
  }
}

.btn-turnon {
  border-radius: 17px;
  background-color: $white;
  border: 1.5px solid $gray-9;
  color: $gray-8;

  span {
    font-family: 'Muli-Bold', sans-serif;
  }

  &:focus {
    box-shadow: none;
  }
}

.circle-badge {
  width: $size-30;
  height: $size-30;
  border-radius: $size-22;
  background-color: red;
  color: white;
}

.btn-footer {
  width: 350px;
  background-color: $white;
  border-radius: $size-4;
  font-size: $size-20;
  font-weight: $weight-600;
  color: var(--grey-1);
  font-family: 'Muli-Semibold', sans-serif;
  @include media-breakpoint-down(sm) {
    margin-top: 20px;
  }

  &:focus {
    box-shadow: none;
  }
}

.btn-submit-form {
  width: 127px;
  color: $white;
  border-radius: $size-4;
  font-weight: $weight-600;
  font-family: 'Muli-Semibold', sans-serif;
  transition-duration: 0.5s;
  &:focus {
    box-shadow: none;
  }
}