.btn-navbar {
  border-radius: $size-4;
  font-size: $size-15;
  border: 1.5px solid $gray-9;
  color: $gray-3;
  font-weight: $weight-600;
  &:focus {
    box-shadow: none;
  }
}
.btn-turnon {
  border-radius: 17px;
  background-color: $white;
  border: 1.5px solid $gray-9;
  color: $gray-8;
  span {
    font-family: 'Muli-Bold', sans-serif;
  }
  &:focus {
    box-shadow: none;
  }
}
.circle-badge {
  width: 30px;
  height: 30px;
  border-radius: 22px;
  background-color: red;
  color: white;
}